:root {
    --purple: linear-gradient(250.46deg, #8468F5 72.09%, #EC74E7 352.57%);
    --purplepink: linear-gradient(198.06deg, #8468F5 30.76%, #EC74E7 132.15%);
}

html {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    background-size: cover;
}
body {
    background: transparent linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%);
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
 }

/* header */
  
.header {
    overflow: hidden;
    text-align: right;
    backdrop-filter: blur(10px); /* ................... */
    padding: 0.5em;
}

.nav-a, .quote-nav {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(1em, 1vw, 1.5em);
}
.active { /* logo */
    float: left;
}
img#header-img {
    width: clamp(5em, 9vw, 8em);
    margin: auto;
}

i { /* menu icon */
    font-size: 1.5em;
    color: white;
}
.header .icon {
    display: none;
    padding: 0.5em; 
}

.home-nav { /* home a */
    margin-top: 3em;
}
.quote-nav { /* quote button */
    border: none;
    border-radius: 13px;
    background: var(--purple);
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* main */

main {
    padding: 1.5em 0.5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

h1 {
    font-weight: 700;
    font-size: clamp(1.7em, 2.5vw, 3em);
    line-height: 1.2em;
}
p#main-p {
    padding: 0.8em 0;
    line-height: 1.3em;
    font-size: clamp(1em, 1vw, 1.5em);
}
span {
    color: #8468F5;
}
div.image {
    
}
img#sample-img {
    max-width: 100%;
    height: auto;
    display: block;
    
}

/* form */

form {
    max-width: 90%;
}
.insideButton {
    position: relative;
}
input {
    border-radius: 30px;
    border: none;
    font-size: 0.8em;
    padding-left: 2em;
    height: 35px;
    width: 100%;
    margin-bottom: 0.8em;
}
input::placeholder {
    opacity: 0.7;
    font-family: 'Poppins', sans-serif;
}
button#submitbutton {
    background: var(--purplepink);
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    
    padding: 0.3em 1em;
    position: absolute;
    right: -20px;
    top: 4.4px;
    cursor: pointer;
}

#sendicon {
    padding-left: 0.5em;
}
/* footer */
footer {
    padding: 0 3em 0.5em;
}
div#social {
    display: flex;
    justify-content: space-evenly;
}
a.sociala {
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle {
    width: 2.5em;
    height: 2.5em;
    background: var(--purple);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#p-foot {
    margin-top: 0.5em;
    text-align: center;
    font-size: 1em;
}
.authors {
    text-decoration: none;
}
.kath {
    color: #2F759E;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .header a:not(:first-child), .quote-nav {display: none;}
    .header a.icon {display: block;}
    .nav-a {
        padding: 0.7em 0.8em;
    }
    .nav-a:hover {
        color: white;
        transition: ease 200ms;
    }

    .quote-nav {
        margin-right: 0.5em;
        padding: 0.3em 1em;
    }
    .quote-nav:hover {
        background: var(--purplepink);
        transition: ease 2s;
    }
    .header.responsive {position: relative;} /* when shrunk */
    .header.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0.5em 0.8em;
    }
    .header.responsive a:last-child {
        transform: rotate(90deg);
    }
    .header.responsive a:not(:first-child) {
        display: block;
        text-align: right;
        
    }
    .header.responsive button {
        display: block;
        float: right;
    }
}

@media (min-width: 400px) {
    div.header {
        padding: 0.5em 0.8em;
    }
    main {
        padding: 1.5em 0.8em 0;
    }
    i {
        font-size: 1.7em;
    }
    p#main-p {
        max-width: 25em;
    }
}
@media (min-width: 570px) {
    footer {
        padding: 0 5em 0.5em;
    }
}
@media (min-width: 600px) {
    .home-nav {
        margin: 0;
    }
    .nav-a, .quote-nav {
        margin-top: 0.8em;
        margin-left: 1em;
        
    }
    .nav-a:hover {
        color: #8668f5;
        transition: linear 0.15s;
        border-bottom: 2px solid #8668f5;
        padding-bottom: 5px;
    }
    .quote-nav {
        padding: 0 0.8em;
    }
    main {
        padding: 2em 1em 0;
    }
    img#sample-img {
        max-width: 80%;
    }
    footer {
        padding: 0 10em 0.5em
    }
    #p-foot {
        margin-top: 0.7em;
    }
}
@media all and (min-width: 800px) {
    .header {
        padding: 0.5em 1.5em 0;
    }
    main {
        flex-direction: row;
        padding: 3em 1.5em 0;
    }
    img#sample-img {
        max-width: 100%;
        margin-left: auto;
    }
    footer {
        padding: 0 15em 0.5em;
    }
}

@media (min-width: 1000px) {
    div.header {
        padding: 0.5em 5em 0;
    }
    main {
        padding: 2em 5em 0;
    }
    div.image {
        max-width: 60%;
    }
    footer {
        padding: 0 20em 0.5em;
    }
}
@media (min-width: 1400px) {
    img#header-img {
        max-width: 6em;
    }
    div.image {
        max-width: 50%;
    }
    footer {
        padding: 0 30em 0.5em;
    }
}
@media (min-width: 2500px) {
    div.header {
        padding: 1em 8em 0;
    }
    img#header-img {
        max-width: 8em;
    }
    .nav-a, .quote-nav {
        font-size: 1.5em;
    }
    main {
        padding: 2em 8em 0;
    }
    h1 {
        font-size: 3.2em;
    }
    p#main-p {
        font-size: 1.7em;
    }
    input {
        height: 50px;
        font-size: 1.2em;
    }
    button#submitbutton {
        font-size: 1.2em;
        right: -30px;
        top: 7px;
    }
    footer {
        padding: 0 60em 0.5em;
    }
    p#p-foot {
        font-size: 1.3em;
    }
}