html {
    height: 100%;
}
body {
    background: transparent linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%);
    height: 100%;
    background-attachment: fixed;
 }
header {
    display: flex;
    justify-content: space-between;
}

nav,
button#nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

nav 
a {
    text-decoration: none;
}

main {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-weight: 700;
}
p {
}
span {
    color: #8468F5;
}
form {
    display: flex;
    flex-direction: row;
}
fieldset {
    border: none;
}
input {
    border: white;
    border-radius: 30px;
}
button#mail {
}