:root {
    --purple: linear-gradient(250.46deg, #8468F5 72.09%, #EC74E7 352.57%);
    --purplepink: linear-gradient(198.06deg, #8468F5 30.76%, #EC74E7 132.15%);
}

html {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100vw;
}
body {
    background: transparent linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%);
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
 }

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
img#header-img {
    max-width: 25vw;
    margin: auto;
}
nav {
    font-weight: 500;
    display: flex;
    gap: 0.3em;
    font-size: clamp(0.8em, 2vh, 1.2em);
    text-align: end;
    flex-direction: column;
}
nav, a {
    text-decoration: none;
}
button#navbutton {
    border: none;
    border-radius: 13px;
    background: var(--purple);
    color: white;
    padding: 0.25em;
}
button {
    font-family: 'Poppins', sans-serif;
}

/* main */

main {
    padding: 2em 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
h1 {
    font-weight: 700;
    font-size: clamp(1.5em, 2vw, 2em);
    line-height: 1.2em;
}
p#main-p {
    padding: 0.6em 0;
}
span {
    color: #8468F5;
}

/* form */

form {
    max-width: 90%;
}
.insideButton {
    position: relative;
}
input {
    border-radius: 30px;
    border: none;
    font-size: 0.8em;

    padding-left: 2em;
    height: 35px;
    width: 100%;
}
button#submitbutton {
    background: var(--purplepink);
    border: none;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    
    padding: 0.3em 1em;
    position: absolute;
    right: -20px;
    top: 5px;
    cursor: pointer;
}

#sendicon {
    padding-left: 0.5em;
}
#img-main {
    max-width: 100%;
    margin: auto;
}

/* footer */

div#social {
    display: flex;
    gap: 1em;
}
a.sociala {
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle {
    width: 2.5em;
    height: 2.5em;
    background: var(--purple);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 320px) {
    main {
        
    }
}
